.build/
.capsulenv/
data/
scoop/
scoop-global/
config/capsulenv.local.psd1
*.log
*.tmp
*.bak
Thumbs.db
Desktop.ini
cache/
tool-data/
project-cache/
modules/
dist/
workspace/
bin/*
!bin/firefox-capsulenv.cmd
!bin/zen-capsulenv.cmd
!bin/librewolf-capsulenv.cmd
